.logo-img{
width: 50px;

}
h1{
    text-align: center;
}
.volkswagen{
width: 100%;

}
.image{
width: 100%;

}
.container-main{
    padding: 30px;
}
.container-header{
padding: 30px;

}
.passat{
width: 100%;

}
.container-end{
    padding: 30px;
}
.col-lg-7{
    border: 1px solid lightgray;
}